<!DOCTYPE html>
<html>
<head>
    <title>Home - Personal Blog</title>
</head>
<body>
    <h1>Welcome to Cabblog</h1>

    <h2>Articles</h2>
    <ul>
        <% articles.forEach(article => { %>
            <li>
                <a href="/article/<%= article.file %>"><%= article.title %></a>
            </li>
        <% }) %>
    </ul>
</body>
</html>
